

@charset "utf-8";
/* CSS Document */

.nav-bg{
	color:red !important;
}
.nav-bg a{
	color:#fff !important;
	border-radius:6px;
	transition:all .5s linear;
	-moz-transition:all .5s linear;
	-webkit-transition:all .5s linear;
	-o-transition:all .5s linear;
	-ms-transition:all .5s linear;
	padding:10px 15px !important;
}

.nav-bg a:hover{
	background:#369 !important;
}

.img-rounded{
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
}

.img-opaque{
	transition:all .5s linear;
	-moz-transition:all .5s linear;
	-webkit-transition:all .5s linear;
	-o-transition:all .5s linear;
	-ms-transition:all .5s linear;
}

.img-opaque:hover{
	opacity:.7;
}

.alert-color{
	background:#fff0cf !important;
}

.alert-color2{
	background:#d5dcff !important;
}

.btn-color{
	background:#369 !important;
	border:1px solid #36C !important;
	transition:all .5s linear;
	-moz-transition:all .5s linear;
	-webkit-transition:all .5s linear;
	-o-transition:all .5s linear;
	-ms-transition:all .5s linear;
}

.btn-color:hover{
	background:white !important;
	color:#369 !important
}

.progress.active .progress-bar {
-webkit-animation: progress-bar-stripes 2s linear !important;
animation: progress-bar-stripes 2s linear !important;
}

.fa-color{
	color:#369 !important;
}

.p-color{
	color:#000 !important;
}

.tex-bg{
	background:url(../img/texture-bg1.jpg) no-repeat !important;
}

.foot-bg{
	background:#332D24 !important;
}

.foot-bg a{
	color:#CFCFCF !important;
}

.foot-bg a:hover{
	color:#929191 !important;
	text-decoration:none !important;
}

.foot-btn{
	background:none !important;
	border:1px solid #CFCFCF !important;
}